email=harikrishnaseethapuram@gmail.com
registry=http://100.25.156.212:8081/repository/node-js-test-repo/
#always-auth=true
_auth=YWRtaW46QDIyMUI=
//registry.npmjs.org/:_auth=YWRtaW46ZGV2b3Bz
allowRepublish=true
