email=harikrishnaseethapuram@gmail.com
registry=http://65.2.181.43:8081/repository/nodejs-repo/
#always-auth=true
_auth=YWRtaW46QDIyMUI=
//registry.npmjs.org/:_auth=YYWRtaW46QDIyMUI=
allowRepublish=true
